$primary: #1dad4f;

header {
  text-align: center;
}

h1 {
  color: $primary;
  font-size: 5rem;
  font-weight: bold;
  i {
    font-size: 50%;
    font-style: normal;
    font-weight: normal;
    color: darken($primary, 5%);
  }
}

h2 {
  font-size: 1.2rem;
}

@media (min-width: 550px) {
  h1 { font-size: 6rem; }
  h2 { font-size: 1.5rem; }
}
@media (min-width: 700px) {
  h1 { font-size: 7rem; }
  h2 { font-size: 1.8rem; }
}