$primary: #1dad4f;
h1 {
  text-align: center;
  color: $primary;
  font-size: 600%;
  font-weight: bold;

  i {
    font-style: normal;
    font-size: 50%;
    font-weight: normal;
    color: darken($primary, 10%);
  }
}
h2 {
  text-align: center;
  font-size: 130%;
}

@media (min-width: 650px) {
  h1 { font-size: 650%; }
  h2 { font-size: 180%; }
}
@media (min-width: 800px) {
  h1 { font-size: 700%; }
  h2 { font-size: 220%; }
}