<header>
  <app-spotbot-logo></app-spotbot-logo>
</header>

<main>
  <h1>Migrate your local music collection to
    <img src="../../assets/img/spotify-logo.svg" id="spotify-logo" alt="Spotify">
  </h1>
  <div id="flex-container">
    <section id="aside-and-step-1">
      <aside>
        <mark>SpotBot</mark> fetches songs for you from Spotify. Throw your local files
        into the portal and SpotBot will use their data to find matching songs on Spotify.
        Review your song list and click confirm when you're ready to migrate!
        SpotBot will automatically create a playlist with all your new songs in it.
      </aside>
      <app-login class="numbered-box"></app-login>
    </section>
    <section id="step-2" class="numbered-box">
      <app-portal></app-portal>
    </section>
  </div>
  <section id="step-3" class="numbered-box">
    <app-song-list></app-song-list>
  </section>
</main>

<footer>
  <small>
    © 2021 SpotBot<mark>.ca </mark>
  </small>
  <address>
    <button (click)="onClickVersion()">version 0.4.0</button>
  </address>
</footer>
