/* SpotBot font-family */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
* {
  font-family: 'Lato', sans-serif;
}


/* SpotBot color palette & SVG textures */
$spotbot-primary: #712a0a;
$spotbot-accent: #04b194;
$spotbot-warn: #ee1111;
$spotbot-background: #c9c6c3;
$spotbot-foreground: #180606;
$spotbot-white: #fcf8f8;
$spotbot-grey: #616161;
$spotbot-black: #0e0e0e;

body {
  background-color: $spotbot-background;
  background-image: url(assets/img/bg-texture-dots.svg);
}


/* SVG texture backgrounds & Flex layout for components*/
#flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
  height: 100vh;
  padding: 10px;
}


/* HEADER COMPONENT */
app-header {
  flex: 0 1 100%;
  .hero #spotbot-logo-svg {
    max-width: 120px;
    fill: $spotbot-foreground;
  }
  .hero #spotbot-text-svg {
    max-width: 450px;
    fill: $spotbot-black;
    #letter-3-o,
    #letter-6-o {
      fill: $spotbot-primary;
    }
  }
  h2 {
    font-weight: 300;
    font-size: calc(1.2em + 0.5vw);
    padding-top: 2px;
    padding-bottom: 30px;
  }
}


/* LOGIN & PORTAL COMPONENTS */
app-login {
  border-radius: 30% 2% 2% 2%;
}

app-portal {
  border-radius: 2% 2% 30% 2%;
  #portal-svg {
    max-width: 420px;
    fill: $spotbot-accent;
  }
}

app-login,
app-portal {
  flex: 1 1 50%;
  min-height: 400px;
  max-width: 500px;
  color: $spotbot-white;
  background-color: $spotbot-foreground;
  background-image: url(assets/img/bg-texture-diamonds.svg);
  border: ridge lighten($color: $spotbot-primary, $amount: 5%);
  padding-top: 8px;
  h3 {
    font-size: 1.4em;
  }
  .step-number {
    font-weight: bold;
    padding-right: 10px;
  }
}


/* FOOTER COMPONENT */
app-footer {
  flex: 1 0 100%;
  padding: 1em;
  button {
    cursor: pointer;
    --x: 50%;
	  --y: 50%;
    padding: 0.2em 0.7em;
    margin-left: 10px;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 100px;

    border: 3px solid transparent;
    background: linear-gradient($spotbot-black, $spotbot-black) padding-box,
                radial-gradient(farthest-corner at var(--x) var(--y), $spotbot-primary, $spotbot-accent) border-box;
  }
}
