/* SpotBot font-family */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
* {
  font-family: 'Lato', sans-serif;
}

/* SpotBot color palette */
$spotbot-primary: #120101;
$spotbot-accent: #308c09;
$spotbot-warn: #ee1111;
$spotbot-background: #c9c6c3;
$spotbot-white: #e3e3e3;
$spotbot-white-transparent: #e3e3e323;
$spotbot-grey: #2d2d2d;
$spotbot-black: #0e0e0e;

// Use SVG texture - second color defined within source SVG code
body {
  background-color: $spotbot-background;
  background-image: url(./assets/img/bg-texture-dots.svg);
}

// Global text stylings
.highlight {
  color: $spotbot-accent;
  font-weight: bold;
}
.smaller {
  font-size: 75%;
  font-weight: lighter;
}
.gray-out {
  color: #dddddd66;
}

header app-spotbot-logo {
  display: block;
  height: 60px;
  padding: 5px 20px; // manually adjust to centre vertically
  background-color: $spotbot-white;
  border-bottom: 2px solid darken($color: $spotbot-white, $amount: 10%);
  #spotbot-logo-svg {
    width: 210px;
    #headphones-path,
    #dot-ca-text {
      fill: $spotbot-accent;
      font-weight: lighter;
    }
    #dog-path,
    #spotbot-text {
      fill: $spotbot-black;
    }
    #stripe-1-path {
      stroke: lighten($color: $spotbot-black, $amount: 5%);
    }
    #stripe-2-path {
      stroke: lighten($color: $spotbot-black, $amount: 12%);
    }
    #stripe-3-path {
      stroke: lighten($color: $spotbot-black, $amount: 25%);
    }
  }
}

// Push footer down (main height = 100% viewport height - header - footer)
main {
  padding-bottom: 60px;
  min-height: calc(100vh - 60px - 32px);
}

main h1 {
  color: $spotbot-black;
  height: 90px;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  font-weight: 300;
  font-size: calc(1.5em + 0.5vw);
  img {
    padding-top: 0;
  }
}

#spotify-logo {
  margin-left: 4px;
  margin-bottom: 2px;
  width: 140px;
}

/* Flex Container around Login & Portal Components */
#flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  gap: 4px;
  padding: 10px;
}

/* Common styles for Login, Portal & Song List Components */
.numbered-box {
  padding: 5px;
  color: $spotbot-white;
  background-color: $spotbot-primary; // fall-back
  background-image: radial-gradient(
    lighten($color: $spotbot-primary, $amount: 5%),
    darken($color: $spotbot-primary, $amount: 5%)
  );
  border: ridge darken($color: $spotbot-accent, $amount: 5%);
  border-radius: 2em / 0.3em;

  h2 {
    font-size: 1.4em;
  }

  .step-number {
    font-weight: bolder;
    padding-right: 8px;
    font-size: 120%;
  }
}

#aside-and-login-section {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  max-width: 600px;

  aside {
    padding: 38px 45px; // manually push box 1. towards box 3. while keeping aside centred
    text-align: left;
    flex: 1 1 100%;
    color: $spotbot-black;
    margin-bottom: 4px;
    background-color: darken($color: $spotbot-background, $amount: 5%); // fall-back
    background-image: radial-gradient(
      lighten($color: $spotbot-background, $amount: 15%),
      darken($color: $spotbot-background, $amount: 2%)
    );
    border: 1px dotted lighten($color: $spotbot-background, $amount: 10%);
    border-radius: 2em / 0.2em;
    font-size: 1.2em;

    mark.indent {
      background: none;
      margin-left: -20px;
      font-size: 115%;
      font-weight: bolder;
    }
  }

  app-login {
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    height: 120px;
  }

  .login-area {
    flex: 1 1 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: flex-end;
    #login-button {
      margin-bottom: 20px;
    }
  }
}

#portal-section {
  flex: 1 1 50%;
  max-width: 600px;
  min-height: 350px;

  .dropzone {
    display: inline-block;
    cursor: pointer;
    background-color: $spotbot-primary;
    border-radius: 50%; // circle
  }

  .portal {
    border-radius: 50%;
    mask: url(./assets/img/portal.svg);
    display: inline-block;
    width: 220px;
    height: 220px;
    background: $spotbot-accent;
    mask-size: cover;
  }

  .portal:hover {
    background: darken($color: $spotbot-accent, $amount: 10%);
  }

  label {
    display: block;
    padding-top: 20px;
    pointer-events: none;
  }
}

#song-list-section {
  display: block;
  margin: -6px auto; // push box 3. up; compensate for gap added by above flex display
  text-align: center;
  max-width: 1204px; // Login width + Portal width + flex gap amount
  min-height: 110px;

  .song-list {
    display: flex;
    text-align: left;
    border: 1px solid $spotbot-white-transparent;
    border-radius: 2em / 0.2em;
    color: $spotbot-white;
    padding: 0 20px;
    margin: 5px;
  }

  .spotify-info {
    display: flex;
    align-items: center;
  }

  .row {
    display: flex;
    align-items: center;
    p {
      padding: 0;
      margin: 2px 5px;
    }
  }

  #delete-button {
    margin: 2px 0 0 10px;
    border: none;
    background: transparent;
    padding: 0;
  }

  .garbage-bin-icon {
    mask: url(./assets/img/garbage-bin-icon.svg);
    display: inline-block;
    width: 12px;
    height: 16px;
    background: $spotbot-warn;
    mask-size: contain;
  }

  .garbage-bin-icon:hover {
    cursor: pointer;
    background: darken($color: $spotbot-warn, $amount: 10%);
  }

  .confirm-text {
    margin-top: 20px;
    padding: 10px;
    .warn {
      padding: 3px;
      color: lighten($color: $spotbot-warn, $amount: 8%);
      font-size: 110%;
      font-weight: lighter;
    }
    label {
      pointer-events: none;
    }
  }

  button {
    margin: 10px 0 20px 0;
  }
}

footer {
  background-color: $spotbot-white;
  display: block;
  text-align: center;
  padding-top: 2px; /* Set manually to vertically centre Footer within strip */
  border-top: 2px solid darken($color: $spotbot-white, $amount: 5%);
  height: 32px;

  small {
    font-size: 1em;
    color: $spotbot-black;
  }

  mark {
    background: none;
    color: $spotbot-accent;
  }

  address {
    display: inline;
    font-size: 0.9em;
    margin-left: 0.1em;
  }

  button {
    cursor: pointer;
    padding: 0 0.6em;
    background-color: $spotbot-primary;
    color: $spotbot-white;
    border-radius: 8px;
  }
}

// Match the side-margins of Login and Portal now that full width of viewport is used
@media only screen and (max-width: 620px) {
  #song-list-section {
    margin: -6px 10px;
  }
}

/* Wrap Song List whenever Portal wraps. Portal moves below Login when vw < 1224px
  1224px = 2(600px) components + 4px gap + 20px total padding */
@media only screen and (max-width: 1224px) {
  #song-list-section {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1224px) {
  #song-list-section {
    max-width: 1204px;
  }
}

// Remove textured background when viewport is so small that dots become too defined
@media only screen and (max-width: 1000px) {
  body {
    background-color: $spotbot-background;
    background-image: none;
  }
}

// At very narrow viewports, ensure h1 text does not overlap with img and aside text
@media only screen and (max-width: 570px) and (min-width: 281px) {
  main h1 {
    padding-bottom: 100px;
    img {
      padding-top: 5px;
    }
  }
}
@media only screen and (max-width: 280px) {
  main h1 {
    padding-bottom: 140px;
    img {
      padding-top: 5px;
    }
  }
}

// Centre logo on narrow viewports
@media only screen and (max-width: 450px) {
  header app-spotbot-logo {
    display: flex;
    justify-content: center;
  }
}
